/* Form */

form {
    margin: 0 auto;
    max-width: 500px; /* Reduce the max width */
    padding: 10px;
}

.form-wrapper {
    background-color: _palette(bg-darker); // Adjust with the appropriate variable
    padding: 20px;
    border-radius: _size(border-radius);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.form-group {
    display: contents;

    label {
        color: _palette(fg-bold);
        font-size: 0.9em;
        font-weight: _font(weight-bold);
        margin: 0;
        text-align: left;
        padding-right: 10px;
        display: flex;
        align-items: center;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        @include vendor('appearance', 'none');
        background: _palette(bg);
        border-radius: _size(border-radius);
        border: none;
        border: solid 1px _palette(fg);
        color: _palette(fg-light);
        display: block;
        outline: 0;
        padding: 0 10px; /* Reduce padding */
        text-decoration: none;
        width: 100%;
        height: 2.5em; /* Reduce height */
        background-color: _palette(bg-alt);
        font-size: 0.8em;

        &:invalid {
            box-shadow: none;
        }

        &:focus {
            border-color: _palette(accent);
            box-shadow: 0 0 0 1px _palette(accent);
        }
    }

    textarea {
        padding: 0.5em 10px; /* Reduce padding */
        height: 10em; /* Adjust height */
        grid-column: 1 / -1; /* Span both columns */
        resize: none; /* Prevent resizing */
        background-color: _palette(bg-alt);
    }
}

.full-width {
    grid-column: 1 / -1; /* Span both columns */
    display: flex;
    flex-direction: column;
    //align-items: center;

    input[type="submit"] {
        margin-top: 10px; /* Reduce margin */
    }
}

input[type="submit"] {
    background-color: _palette(accent);
    color: _palette(bg) !important;
    border: none;
    border-radius: _size(border-radius);
    cursor: pointer;
    display: inline-block;
    font-family: _font(family-heading);
    font-size: 0.8em;
    font-weight: _font(weight-heading);
    height: 2.5em; /* Reduce height */
    letter-spacing: _font(kerning-heading);
    line-height: 2.5em; /* Adjust line height */
    padding: 0 1.5em; /* Reduce padding */
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    align-self: center; /* Center the submit button */

    &:hover {
        background-color: _palette(bg);
        color: _palette(accent) !important;
        box-shadow: inset 0 0 0 2px _palette(accent);
    }

    &:active {
        background-color: transparentize(_palette(accent), 0.85);
    }
}

/* Adjust placeholders */
::-webkit-input-placeholder {
    color: _palette(fg-light) !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: _palette(fg-light) !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: _palette(fg-light) !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: _palette(fg-light) !important;
    opacity: 1.0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .form-wrapper {
        display: flex;
        flex-direction: column;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
            margin-bottom: 5px;
            text-align: left; /* Align label text to the left for smaller screens */
            padding-right: 0;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
            margin-left: 0;
        }
    }

    .full-width {
        width: 100%;
    }
}

.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contact-form {
    flex: 1;
    margin-right: 20px; /* Adjust the spacing between form and image */
  }
  
  .image-placeholder-container {
    flex: 1;
  }
  
  @media (max-width: 768px) {
    .contact-section {
      flex-direction: column;
    }
  
    .contact-form {
      margin-right: 0;
      margin-bottom: 20px; /* Add spacing between form and image on mobile */
    }
  }