.logo-image {
	width: 150px;
	height: 150px;
}

#header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2E3440; /* Polar Night */
	color: #D8DEE9; /* Snow Storm */
	padding: 0 20px;
}

#header .logo {
	margin: 0 20px;
	text-align: center;
	flex-grow: 1;
	color: #D8DEE9; /* Snow Storm */
}

#header .icons {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: flex-end;
	flex-grow: 0;
	color: #D8DEE9; /* Snow Storm */
}

#header .icons li {
	padding-left: 10px;
}

.left-icons {
	justify-content: flex-end;
	flex-grow: 1;
}

.right-icons {
	justify-content: flex-start;
	flex-grow: 1;
}

section#banner {
    text-align: center;
    background-color: #3B4252; /* Slightly lighter Polar Night */
    color: #D8DEE9; /* Snow Storm */
}

@media (max-width: 600px) {
	#header {
		flex-direction: column;
		align-items: center;
		padding-top: 20px;
	}

	#header .logo,
	#header .icons {
		flex-grow: 0;
		justify-content: center;
	}

	#header .icons {
		margin-top: 10px;
	}
}

.social-icons {
	padding-top: 1.5rem;
	display: flex;
	justify-content: right;
	color: #D8DEE9; /* Snow Storm */
}

.button:hover {
	background-color: #81A1C1; /* Aurora */
	color: #2E3440; /* Polar Night */
}

.button-container {
	display: flex;
	justify-content: center;
}

.button-container .button {
	margin: 0 10px;
}

@media (max-width: 768px) {
	.button-container {
		flex-direction: column;
		align-items: center;
	}

	.button-container .button {
		width: 100%;
		margin: 10px 0;
	}
}

button.sidebar-button {
	padding: 20px !important;
	background-color: rgba(59, 66, 82, 0.63); /* Slightly lighter Polar Night with transparency */
	color: #D8DEE9 !important; /* Snow Storm */
	font-weight: bold;
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar-button:hover {
	color: #2E3440 !important; /* Polar Night */
}

.contact-form {
	font-family: 'Open Sans', sans-serif;
	background-color: #3B4252; /* Slightly lighter Polar Night */
	color: #D8DEE9; /* Snow Storm */
	padding: 20px;
	border: 1px solid #4C566A; /* Border color */
	max-width: 600px;
	margin: auto;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: #434C5E; /* Darker background */
	border: 1px solid #4C566A; /* Border color */
	color: #D8DEE9; /* Snow Storm */
	box-sizing: border-box;
}

.contact-form input[type="submit"] {
	background-color: #81A1C1; /* Aurora */
	color: #2E3440; /* Polar Night */
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 100%;
	box-sizing: border-box;
	display: block;
	line-height: 20px;
	text-align: center;
}

.contact-form input[type="submit"]:hover {
	background-color: #88C0D0; /* Slightly lighter Aurora */
}
